# Bases de datos locales
*.db
*.sqlite
*.sqlite3

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Entornos virtuales
env/
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Variables de entorno sensibles
.env